input[type="checkbox"] {
  accent-color: #1a2b51;
}

.sign-up-modal {
  max-width: 607px;
  background: #ffffff;
  // min-height: 816px;
  border-radius: 18px;
  padding: 30px 42px;
}

@media screen and (max-width: 768px) {
  .logo-width {
    width: 107.06px;
    height: 41px;
    margin-bottom: 24px;
  }

  .sign-up-modal {
    box-shadow: none;

    .heading {
      font-size: 26px;
      line-height: 31px;
      white-space: nowrap;
      font-family: "Rubik";
      font-style: normal;
      font-weight: 500;
      font-size: 26px;
      line-height: 31px;
      text-align: center;
      color: #322e2f;
    }
  }
}