.input-tag {
  background: white;
  border: 1px solid #d6d6d6;
  display: flex;
  flex-wrap: wrap;
  padding: 12px 20px;
  border-radius: 5px;
}

.input-tag input {
  border: none;
  width: 100%;
}

.input-tag__tags {
  display: inline-flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 100%;
}

.input-tag__tags li {
  align-items: center;
  color: #333333;
  display: flex;
  font-weight: 300;
  list-style: none;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.00938em;
}

.tag-chip {
  background-color: #1a2b51;
  padding: 0.2rem;
  color: #ffffff !important;
  border-radius: 12px !important;
  align-items: center;
  display: flex;
  justify-content: center;
  white-space: nowrap;
  padding-left: 5px;
  margin-right: 2px;
  font-size: 12px !important;
}

.input-box div {
  background-color: #fff !important;
}

.tag-chip button {
  background-color: #fff;
  color: #191919;
  border-radius: 50%;
}

.input-search-form {
  padding: 0px 0px;
}

::placeholder {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  color: #7b809a;
  margin-right: 15px;
  z-index: 2;
}

.input-search-topic {
  border-radius: 8px !important;
  padding: 11.5px 25px;
  border: 1px solid #fff;
  width: 300px;
}

.input-tag__tags li button {
  align-items: center;
  appearance: none;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: inline-flex;
  font-size: 12px;
  justify-content: center;
  line-height: 0;
  margin: 0px 5px;
  padding: 0;
  transform: rotate(45deg);
  width: 13px;
  height: 13px;
}

.input-tag__tags li.input-tag__tags__input {
  background: none;
  flex-grow: 1;
  padding: 0;
  letter-spacing: 0.00938em;
}

.input-tag__tags__input input:focus-visible {
  outline: none !important;
  border-radius: 0% !important;
  letter-spacing: 0.00938em;
}
.input-tag__tags__input label {
  letter-spacing: 0.00938em;
}

.color-picker [type="color"] {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  padding: 0;
  width: 50px;
  height: 15px;
  border: none;
  color: #fff;
}


.color-picker [type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

.icon-end-close {
  position: absolute;
  top: 0;
  right: 0;
  left: 12 !important;
  z-index: 10;
  padding: 0;
  color: #00000073;
  font-weight: 700;
  line-height: 1;
  text-decoration: none;
  background: 0 0;
  border: 0;
  outline: 0;
  cursor: pointer;
  transition: color 0.3s;
}

.close-icon {
  display: block;
  width: 60px;
  height: 60px;
  font-size: 20px;
  font-style: normal;
  line-height: 60px;
  text-align: center;
  text-transform: none;
  text-rendering: auto;
  margin-right: 10px;
  margin-top: 12px;
  color: #191919;
}

.color-text {
  font-size: 15px;
  margin-left: 10px;
}

.color-picker [type="color"]::-webkit-color-swatch {
  border: none;
}

.color-picker {
  padding: 5px 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
}

.color-text-title {
  line-height: 1.5;
  font-size: 15px;
  margin-top: 5px;
}

.button {
  white-space: nowrap;
}

.header-topic {
  display: flex;
  width: 100%;
}

.MuiAutocomplete-input {
  height: 12px !important;
}

/* radio  button css */

.radio_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 0.5px solid #d2d6da;
  height: 45px;
  border-radius: 9999px;
  box-shadow: inset 0.5px 0.5px 2px 0 rgba(0, 0, 0, 0.15);
}

.radio_container input[type="radio"] {
  appearance: none;
  display: none;
}

.radio_container label {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: inherit;
  width: 100%;
  height: 45px;
  text-align: center;
  border-radius: 9999px;
  overflow: hidden;
  transition: linear 0.3s;
  color: #6e6e6edd;
}

.label-name {
  position: relative !important;
}

.label-name input:focus + label,
.label-name input:valid + label {
  font-size: 13px;
  top: -13px;
  left: -12px;
  margin: 0px 0px 0px 0px;
  padding: 0px 5px 0px 5px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  color: #7b809a;
  letter-spacing: 0.00938em;
}

.label-name input:disabled + label,
.label-name input:disabled + label {
  font-size: 13px;
  top: -12px;
  left: -10px;
  color: #7b809a;
  letter-spacing: 0.00938em;
}

.label-name input:focus + label {
  color: #1a2b51;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  letter-spacing: 0.00938em;
}

.label-name label {
  position: absolute;
  cursor: text;
  z-index: 2;
  top: 50%;
  left: 10px;
  transform: translate(0%, -50%);
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #898989;
  background: #fff;
  padding: 0 10px;
  transition: all 0.3s ease;
}

.label-color {
  position: relative;
}

.label-color input:focus + label,
.label-color input:valid + label {
  font-size: 13px;
  top: -7px !important;
  left: -10px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  color: #7b809a;
  letter-spacing: 0.00938em;
}

.label-color input:disabled + label,
.label-color input:disabled + label {
  font-size: 13px;
  top: -7px !important;
  left: -10px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  color: #7b809a;
  letter-spacing: 0.00938em;
}

.label-color input:focus + label {
  color: #1a2b51;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  letter-spacing: 0.00938em;
}

.label-color label {
  position: absolute;
  cursor: text;
  z-index: 2;
  top: 50%;
  left: 10px;
  transform: translate(0%, -50%);
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #898989;
  background: #fff;
  padding: 0 10px;
  transition: all 0.3s ease;
  letter-spacing: 0.00938em;
}

.radio_container input[type="radio"]:checked + label {
  background-color: #1e90ff;
  color: #f1f3f5;
  font-weight: 900;
  transition: 0.3s;
}

.backgroundColor-autocomplete {
  background-color: #fff !important;
}

.background-color
  .MuiAutocomplete-hasPopupIcon.MuiAutocomplete-hasClearIcon.css-1dlp5ia-MuiAutocomplete-root
  .MuiOutlinedInput-root {
  z-index: 2 !important;
  background: #fff !important;
}
.background-color
.css-1qi4im9-MuiFormControl-root-MuiTextField-root {
  z-index: 3 !important;
}

.box-input-topic {
  color: #fff;
  display: inline-block;
  border-radius: 8px;
  outline: none;
  background-color: #1a2b51;
  white-space: nowrap;
  cursor: pointer;
  font-size: 14px;
  width: max-content;
  padding: 9px 0px 9px 15px !important;

  margin-right: 10px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.upload {
  margin-left: 25px;
}

.custom-file-input-topic {
  color: transparent;
}
.custom-file-input-topic::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input-topic::before {
  content: "Upload" !important;
  color: #fff;
  display: inline-block;
  border: none;
  border-radius: 8px;
  outline: none;
  background-color: #1a2b51;
  white-space: nowrap;
  cursor: pointer;
  font-size: 14px;
  width: max-content;
  font-weight: 500;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
.custom-file-input-topic {
  width: 90px !important;
}
.custom-file-input-topic:hover::before {
  border-color: black;
}
.custom-file-input-topic:active {
  outline: 0;
}
.custom-file-input-topic:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}


.description_title-topic{
  max-width: 600px;
}

@media screen and (max-width: 1477px) {
  .description_title-topic {
    max-width: 300px;
  }
}
@media screen and (max-width: 1377px) {
  .description_title-topic {
    max-width: 200px;
  }
}