.breand-logo {
  height: 50px;
  width: 130px;
}

.active-side {
  background-color: #8697be !important;
}

.big-icon-box-color .material-icons-round {
  height: 98%;
  font-size: 22px !important;
  margin-top: 5px;
}

.box-icon {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.dash-board-icon {
  height: 36px !important;
}

.old-password,
.MuiInputLabel-root,
.MuiInputLabel-formControl,
.MuiInputLabel-animated,
.MuiInputLabel-standard,
.MuiFormLabel-root,
.MuiFormLabel-colorPrimary,
.css-1bwk0ok-MuiFormLabel-root-MuiInputLabel-root {
  height: 36px !important;
}

/* loader css  */
.loader-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92vh !important;
}

.dot1 {
  background: #44546a;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin: 0 auto;
  display: inline-block;
  animation: dots 1s ease-in infinite;
  margin-right: 5px;
  margin-bottom: 200px;
}

.dot2 {
  background: #000;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin: 0 auto;
  animation: dots 1s 0.25s ease-in infinite;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 200px;
}

.dot3 {
  background: #cfcb00;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin: 0 auto;
  display: inline-block;
  animation: dots 1s 0.5s ease-in infinite;
  margin-bottom: 200px;
}

@keyframes dots {
  0% {
    transform: translateY(100px);
    opacity: 1;
  }
  50% {
    transform: translateY(80px);
    opacity: 0.7;
  }
  60% {
    transfom: translateY(80px);
  }
  100% {
    transform: translateY(100px);
    opacity: 1;
  }
}

header {
  top: 0px !important;
}

.read_button {
}
.view_button {
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
.dashboard_wrapper {
  min-height: 92vh;
}
.footer_wrapper {
  position: absolute;
  bottom: 0;
}
.logout_no_button {
  background-color: #6c757d !important;
  color: #ffffff !important;
}
.grid_input_wrapper {
  min-width: 350px !important;
  max-width: 100% !important;
}

.count-round .round{
  height: 25px;
  width: 25px;
  align-self: center;
  background-color: #fff !important;
  border-radius: 50%;
  color: #000;
  display: flex !important;
  justify-content: center;
  align-items: center;
}
.count-round .round span{
 font-size: 14px;
 font-weight: 500;
}


@media screen and (max-width: 1440px) {
  .table-padding{
    padding: 12px 12px 12px 12px !important;
      text-align: center !important;
  }
}
