.interest-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  box-shadow: 3px 3px 17px rgba(0, 0, 0, 0.1);
  border-radius: 18px;
  max-width: 607px;
  padding: 26px 50px 50px 50px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;

  .mobile-logo {
    display: none;
  }

  .active-class {
    border: 1px solid #1a2b51;
    background-color: #ebf0fd;

    .border-icon {
      position: absolute;
      top: -4px;
      right: -4px;
      color: #1a2b51;
    }
  }

  .choose-para {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #a5a5a5;
  }

  .height-width {
    height: 150px;
    width: 150px;

    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
    border-radius: 8px;

    .img-wrapper {
      height: 47px;
      width: 47px;
    }

    .custom-font {
      font-family: "Rubik";
    }

    .interest-name {
      font-weight: 400;
      line-height: 18px;
      font-size: 16px;
      font-family: "Rubik";
      text-align: center;
      margin: 0px;
    }
  }

  .footer {
    background-color: #1a2b51;
    color: #ffffff;
    text-align: center;
    border-radius: 5px;
    font-weight: 600;
    padding: 10px 0;
    cursor: pointer;
    margin-bottom: 20px;
  }

  .back-footer-btn {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: #0004cf;
    border: none;
    background-color: transparent;
  }

  .fit-div-scroll {
    max-height: 499px;
    overflow-y: scroll;
  }

  /* width */
  .fit-div-scroll::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  .fit-div-scroll::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }

  /* Handle */
  .fit-div-scroll::-webkit-scrollbar-thumb {
    background: #1a2b51;
    border-radius: 10px;
  }

  /* Handle on hover */
  .fit-div-scroll::-webkit-scrollbar-thumb:hover {
    background: #1a2b51;
  }
}

@media (max-width: 768px) {
  .interest-wrapper {
    box-shadow: none;
    border-radius: 0px;
    width: 100%;
    padding: 35px;
    margin: 0;

    .mobile-logo {
      display: block;
      margin: auto;
      width: 107.06px;
      margin-bottom: 24px;
    }
  }
}