.account-type-wrapper {
  background: #ffffff;
  box-shadow: 3px 3px 17px rgba(0, 0, 0, 0.1);
  border-radius: 18px;
  padding: 50px 60px;
  margin: 35px 0;
  max-width: 607px;

  h1 {
    width: 237px;
    height: 72px;
    font-family: "Rubik";
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #322e2f;
    margin: auto;
    margin-bottom: 50px;
  }

  .card-wrapper-div {
    margin-bottom: 75px;

    .card-wrapper {
      background: #ffffff;
      box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
      border-radius: 10px;
      padding: 30px 15px;
      min-height: 100%;

      .img-wrapper {
        width: 90px;
        height: 90px;
        margin: auto;
        margin-bottom: 20px;
        text-align: center;
      }

      h4 {
        font-family: "Rubik";
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        color: #322e2f;
        word-wrap: break-word !important;
      }

      .selected-wrapper {
        p {
          font-family: "Rubik";
          font-style: normal;
          font-weight: 400;
          font-size: 15px;
          line-height: 18px;
          color: #a5a5a5;
          margin-bottom: 0;
        }
      }
    }

    .active-border {
      background: #ebf0fd;
      border: 1px solid #1a2b51;
      h4 {
        word-wrap: break-word !important;
      }
      .wrap-text {
        word-wrap: break-word !important;
      }
    }
  }

  .continue-footer-btn {
    width: 100%;
    height: 48px;
    background: #1a2b51;
    border-radius: 10px;
    font-family: "Rubik";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #ffffff;
    border: 0px;
  }

  .continue-footer-btn:disabled {
    background: #b7b7b7;
    cursor: not-allowed;
  }
}

@media screen and(max-width:607px) {
  .account-type-wrapper {
    box-shadow: none;
    border-radius: 0px;
    padding: 35px;
    margin: 0;
  }
}

@media screen and(max-width:607px) {
  .account-type-wrapper {
    padding: 20px;
  }
}

@media screen and (max-width: 430px) {
  .account-type-wrapper {
    .card-wrapper-div {
      .card-wrapper {
        .img-wrapper {
          margin-bottom: 5px;
          text-align: center !important;
          img {
            text-align: center;
          }
        }
        h4 {
          font-family: "Rubik";
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 22px;
          text-align: center;
          color: #322e2f;
          word-wrap: break-word !important;
        }
      }
    }
  }
}
