.header-user {
  position: absolute;
  right: 120px;
  top: 26px;
  .user-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      height: 47px;
      width: 47px;
      margin-right: 10px;
    }
    .user-name {
      .name {
        margin: 0px 8px 0px 0px;
        font-family: "Rubik";
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 20px;
        color: #322e2f;
      }
      img {
        width: 16px;
        height: 16px;
      }
    }
    .dropdown-toggle::after {
      margin-left: 10px;
      margin-top: 15px;
      font-size: 17px;
    }
    .dropdown-toggle {
      .dropdown-menu {
        .dropdown-item {
          img {
            font-size: 25px !important;
          }
          a {
            color: #1a2b51 !important;
          }
        }
      }
    }
    .dropdown {
      .dropdown-menu {
        .dropdown-item {
          color: #1a2b51 !important;
        }
      }
    }
  }
}


.main-header {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  width: 100%;
  transition: 0.4s ease-out;
  margin-top: 25px;

  .logo {
    position: absolute;
    top: 6px;
    left: 306px;
    display: block;
    z-index: 11;
    transition: all 250ms linear;

    img {
      height: 26px;
      width: auto;
      display: block;
    }
  }

  .nav-links {
    max-width: 0px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    right: 290px;
    padding: 0px;
    margin: 0px;
    transform: translate(0, -50%);
    display: flex;
    background: rgba(255, 255, 255, 0);
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 27.5px;
    transition: 3s;

    .nav-link {
      padding: 15px 0px;
      margin: 0px 10px;

      a {
        font-family: "Rubik";
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: #ffffff;
        padding: 0 35px;
        white-space: nowrap;
        text-decoration: none;
      }

      .active-tab {
        background: #cfcb00;
        box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.1);
        border-radius: 27.5px;
        padding: 10px;
      }
    }
  }

  .menu-icon1 {
    height: 27px;
    width: 33px;
    cursor: pointer;
    z-index: 1;
    background-image: url("../../Assets/Img/mobile-menu.svg");
    background-repeat: no-repeat;
  }

  .menu-btn {
    display: none;
  }

  .menu-btn:checked ~ .nav-links {
    max-width: 100%;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.2);
    right: 287px;
  }

  .menu-btn:checked ~ .menu-icon1 {
    height: 16px;
    width: 16px;
    cursor: pointer;
    background-image: url("../../Assets/Img/mobile-close.svg");
    background-repeat: no-repeat;
  }
}

.nav {
  ul {
    position: absolute;
    top: 45%;
    left: 0;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    z-index: 6;
    text-align: center;
    transform: translateY(-50%);
    list-style: none;

    li {
      position: relative;
      display: block;
      width: 100%;
      padding: 0;
      margin: 10px 0;
      text-align: center;
      list-style: none;
      pointer-events: none;
      opacity: 0;
      visibility: hidden;
      transform: translateY(30px);
      transition: all 250ms linear;

      a {
        font-family: "Montserrat", sans-serif;
        font-size: 9vh;
        text-transform: uppercase;
        line-height: 1.2;
        font-weight: 800;
        display: inline-block;
        position: relative;
        color: #ececee;
        transition: all 250ms linear;
      }
    }

    li:nth-child(1) {
      transition-delay: 200ms;
    }

    li:nth-child(2) {
      transition-delay: 150ms;
    }

    li:nth-child(3) {
      transition-delay: 100ms;
    }

    li:nth-child(4) {
      transition-delay: 50ms;
    }
  }
}

@keyframes pulse {
  from {
    box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.6);
    background: rgba(255, 255, 255, 0.6);
  }

  to {
    box-shadow: 0 0 0 1000px rgba(255, 255, 255, 0);
    background: rgba(255, 255, 255, 0);
  }
}

@keyframes openTop {
  0% {
    transform: translateY(-5px) rotate(0deg);
  }

  50% {
    transform: translateY(0px) rotate(0deg);
  }

  100% {
    transform: translateY(0px) rotate(90deg);
  }
}

@keyframes closedTop {
  0% {
    transform: translateY(-5px) rotate(0deg);
  }

  50% {
    transform: translateY(0px) rotate(0deg);
  }

  100% {
    transform: translateY(0px) rotate(90deg);
  }
}

@keyframes openMid {
  50% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(45deg);
  }
}

@keyframes closedMid {
  50% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(45deg);
  }
}

@keyframes openBtm {
  0% {
    transform: translateY(5px) rotate(0deg);
  }

  50% {
    transform: translateY(0px) rotate(0deg);
  }

  100% {
    transform: translateY(0px) rotate(90deg);
  }
}

@keyframes closedBtm {
  0% {
    transform: translateY(5px) rotate(0deg);
  }

  50% {
    transform: translateY(0px) rotate(0deg);
  }

  100% {
    transform: translateY(0px) rotate(90deg);
  }
}

@media screen and (max-width: 575px) {
  .hide-mobile {
    display: none;
  }
 

  .heading-title {
    font-weight: 400 !important;
    font-size: 17px !important;
    line-height: 20px !important;
  }

  .heading-subtitle {
    font-weight: 400 !important;
    font-size: 14px !important;
    line-height: 17px !important;
  }

  .accounts-every-need {
    .title {
      font-weight: 500;
      font-size: 22px !important;
      line-height: 26px !important;
    }
  }

  .accounts-card {
    h6 {
      font-size: 17px !important;
      line-height: 20px !important;
      padding: 10px 0;
    }

    p {
      font-size: 14px !important;
      line-height: 17px !important;
    }
  }

  .landing-banner {
    .sign-up,
    .sign-out {
      font-weight: 600 !important;
      font-size: 14px !important;
      line-height: 17px !important;
      padding: 10px 12px;
      border-radius: 7px !important;
    }
  }
}

@media screen and (min-width: 1024px) {
  .menu-icon1 {
    position: absolute;
    top: 22px;
    right: 250px !important;
  }
  .logo {
    // left: 100px !important;
    // top: 21px !important;
  }

}
@media screen and (max-width: 767px) {
  .main-header {
    .menu-icon1 {
      position: absolute;
      top: 22px;
      right: 100px !important;
    }
    .main-header .nav-links {
      overflow: hidden;
      position: absolute;
      right: 289px;
    }
  }
  .main-header {
    .container .logo {
      left: 120px !important;
      top: 10px;
    }
  }
  .conform-modal{
    .modal-content{
        left: 45px !important;
    }
  }
}

@media screen and (min-width: 575px) {
  .menu-icon1 {
    position: absolute;
    top: 22px;
    right: 399px;
  }
 

  .main-header .nav-links {
    overflow: hidden;
    position: absolute;
    right: 289px;
  }
}

.menu-icon:checked ~ .nav {
  animation-play-state: paused;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  width: 200%;
  height: 200%;
  transition: top 350ms 700ms cubic-bezier(0.23, 1, 0.32, 1), right 350ms 700ms cubic-bezier(0.23, 1, 0.32, 1),
    transform 250ms 700ms ease, width 750ms 1000ms cubic-bezier(0.23, 1, 0.32, 1),
    height 750ms 1000ms cubic-bezier(0.23, 1, 0.32, 1);
  background-color: black;

  ul {
    li {
      pointer-events: auto;
      visibility: visible;
      opacity: 1;
      transform: translateY(0);
      transition: opacity 350ms ease, transform 250ms ease;
    }

    li:nth-child(1) {
      transition-delay: 1400ms;
    }

    li:nth-child(2) {
      transition-delay: 1480ms;
    }

    li:nth-child(3) {
      transition-delay: 1560ms;
    }

    li:nth-child(4) {
      transition-delay: 1640ms;
    }
  }
}

// logo animation

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

// mobile-size

.mobile-size {
  display: none;
}
@media screen and (max-width: 450px) {
  .header ul {
    display: block;
  }
  .footer-social > div {
    margin: -1px 23px 4px -13px;
  }
  .index-bg .hero .heading {
    font-size: 35px;
    font-weight: 700;
    line-height: 48px;
    padding: 178px 0 43px 0;
  }
  .main-header {
    .container .logo {
      left: 50px;
      top: 10px;
    }
  }
  .conform-modal{
    .modal-content{
        left: 30px !important;
    }
  }
}
@media screen and (max-width: 450px) {
  .main-header {
    .container {
      .logo {
        left: 50px !important;
      }
    }
  }
}

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
.menu-icon:checked + label,
.menu-icon:not(:checked) + label {
  position: fixed;
  top: 33px;
  right: 75px;
  display: block;
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  cursor: pointer;
  z-index: 10;
}
.menu-icon:checked + label:before,
.menu-icon:not(:checked) + label:before {
  position: absolute;
  content: "";
  display: block;
  width: 30px;
  height: 20px;
  z-index: 20;
  top: 0;
  left: 0;
  border-top: 2px solid #ececee;
  border-bottom: 2px solid #ececee;
  transition: border-width 100ms 1500ms ease, top 100ms 1600ms cubic-bezier(0.23, 1, 0.32, 1),
    height 100ms 1600ms cubic-bezier(0.23, 1, 0.32, 1), background-color 200ms ease,
    transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
}
.menu-icon:checked + label:after,
.menu-icon:not(:checked) + label:after {
  position: absolute;
  content: "";
  display: block;
  width: 22px;
  height: 2px;
  z-index: 20;
  top: 10px;
  right: 4px;
  background-color: #ececee;
  margin-top: -1px;
  transition: width 100ms 1750ms ease, right 100ms 1750ms ease, margin-top 100ms ease,
    transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
}
.menu-icon:checked + label:before {
  background: white;
  /* background-color: red; */
  top: 10px;
  transform: rotate(45deg);
  height: 2px;
  /* background-color: #ececee; */
  border-width: 0;
  transition: border-width 100ms 340ms ease, top 100ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
    height 100ms 300ms cubic-bezier(0.23, 1, 0.32, 1), background-color 200ms 500ms ease,
    transform 200ms 1700ms cubic-bezier(0.23, 1, 0.32, 1);
}
.menu-icon:checked + label:after {
  background: white;
  width: 30px;
  margin-top: 0;
  right: 0;
  transform: rotate(-45deg);
  transition: width 100ms ease, right 100ms ease, margin-top 100ms 500ms ease,
    transform 200ms 1700ms cubic-bezier(0.23, 1, 0.32, 1);
}

// navbar animation

.nav {
  position: fixed;
  top: 13px;
  right: 50px;
  display: block;
  width: 55px;
  height: 55px;
  padding: 0;
  margin: 0;
  z-index: 9;
  overflow: hidden;
  // box-shadow: 0 8px 30px 0 rgb(0 0 0 / 30%);
  background-color: black;
  animation: border-transform 7s linear infinite;
  transition: top 350ms 1100ms cubic-bezier(0.23, 1, 0.32, 1), right 350ms 1100ms cubic-bezier(0.23, 1, 0.32, 1),
    transform 250ms 1100ms ease, width 650ms 400ms cubic-bezier(0.23, 1, 0.32, 1),
    height 650ms 400ms cubic-bezier(0.23, 1, 0.32, 1);
}

@keyframes border-transform {
  0%,
  100% {
    border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%;
  }
  14% {
    border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%;
  }
  28% {
    border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%;
  }
  42% {
    border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%;
  }
  56% {
    border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%;
  }
  70% {
    border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%;
  }
  84% {
    border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%;
  }
}

@media screen and (max-width: 991px) {
  .menu-icon:checked + label,
  .menu-icon:not(:checked) + label {
    right: 42px;
  }

  .main-header {
    .container .logo {
      left: 130px;
      top: 10px;
    }
  }
  .nav {
    right: 30px;
    ul li a {
      font-size: 3vh;
    }
  }
}


@media screen and (max-width: 1669px) {
  .main-header {
    .container .logo {
      left: 160px;
      top: 10px;
    }
  }
}
@media screen and (max-width: 1340px) {
  .main-header {
    .container .logo {
      left: 140px;
      top: 10px;
    }
  }
}
@media screen and (max-width: 1040px) {
  .main-header {
    .container .logo {
      left: 100px;
      top: 10px;
    }
  }
  .main-header  {
    .menu-icon1{
      right: 140px !important;
    }
  }
}
@media screen and (max-width: 340px) {
  .main-header {
    .container .logo {
      left: 40px !important;
      top: 10px;
    }
  }
}
.conform-modal {
  .modal-content {
    padding: 30px 40px;
    max-width: 350px;
    border-radius: 12px;
    left: 18%;
    .conform-modal-wrapper {
      .conform-button {
        width: 100%;
        background: #1a2b51;
        margin-top: 25px;
      }
      .no-button {
        width: 100%;
        margin-top: 15px;
      }
    }
  }
}

@media screen and (max-width: 375px) {
  .main-header {
    .container .logo {
      left: 50px;
      top: 10px;
    }
  }
  .conform-modal{
    .modal-content{
        left: 5px !important;
    }
  }
}
