.ranking-general-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 80px 0px 80px 0px;

  .ranking-general-card {
    background: #ffffff;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.08);
    border-radius: 25px;
    max-width: 660px;
    width: 100%;
    padding: 24px 50px 21px 50px;
    height: fit-content;
    margin: auto;

    .ranking-general-card-title-wrapper {
      display: flex;
      align-items: center;
      padding-bottom: 12px;
      border-bottom: 1px solid #dedede;
      margin-bottom: 6px;

      .question-title-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;

        h3 {
          font-family: "Rubik";
          font-style: normal;
          font-weight: 500;
          font-size: 22px;
          line-height: 26px;
          text-align: center;
          color: #322e2f;
          margin: 0px;
        }

        img {
          width: 28px;
          height: 28px;
          margin-right: 15px;
        }
      }
    }

    .image {
      .image-center {
        margin: 30px 0px 20px 0px;

        .image-upload {
          position: relative;

          .custom-file-upload {
            height: 119px;
            width: 119px;
            display: flex;
            justify-content: center;
            align-items: center;

            .image-view {
              width: 100%;
              height: 100%;
            }

            .image-pen {
              position: absolute;

              .pen-img {
                position: relative;
              }
            }
          }

          .custom-file-edit-icon {
            position: absolute;
            top: 85px;
            left: 87px;
            right: 0px;
            bottom: 0px;
          }
        }
      }

      .image-center {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .image-change-btn {
        margin-top: 15px;
        margin-left: 10px;
        background: #3498db;
        border: none;
        border-radius: 12px;
        padding: 3px 8px;
        color: #fff !important;
      }

      .image-center input[type="file"] {
        display: none;
      }

      .image-center .custom-file-upload {
        border-radius: 50%;
        display: inline-block;
        position: relative;
        padding: 2px;
        cursor: pointer;
      }

      .image-center .img-wrap {
        position: relative;
        overflow: hidden;
      }

      .image-center .img-upload:before {
        content: "\f093";
        font-size: 90px;
        position: absolute;
        padding-top: 80px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: #fff;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        opacity: 0;
        transition: 0.5s ease;
        background-color: #fff;
      }

      .box-input {
        color: #fff;
        display: inline-block;
        border-radius: 8px;
        outline: none;
        background-color: #1a2b51;
        white-space: nowrap;
        cursor: pointer;
        font-size: 14px;
        width: max-content;
        margin-right: 15px;
        font-family: "Roboto", "Helvetica", "Arial", sans-serif;
      }

      .upload {
        margin-left: 25px;
      }
    }

    .form-contend-settings {
      .form-title {
        .account-title {
          font-family: "Rubik";
          font-style: normal;
          font-weight: 600;
          font-size: 20px;
          line-height: 24px;
          color: #1a2b51;
        }

        .account-save {
          font-family: "Rubik";
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 17px;
          text-align: center;
          color: #ffffff;
          padding: 11px 30px;
          background: #1a2b51;
          border-radius: 10px;
          border: none;
        }
      }

      .account-form {
        margin-top: 7px;

        .account-full-name {
          margin-bottom: 20px;

          .label-title {
            font-family: "Rubik";
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #898989;
            margin-bottom: 5px;
          }

          .input-name-full {
            border: 1px solid #dadada;
            border-radius: 7px;
            width: 100%;
            padding: 16px 22px;
          }

          .default-arrow {
            background: url("../../Assets/Img/selectarrow.svg") no-repeat;
            background-position: calc(100% - 1.3rem) center !important;
            -moz-appearance: none !important;
            -webkit-appearance: none !important;
            appearance: none !important;
            // padding-right: 1rem !important;
          }

          .eye-icon-password {
            top: 45px;
            right: 20px;
          }

          input[type="date"]::-webkit-calendar-picker-indicator {
            color: rgba(0, 0, 0, 0);
            opacity: 1;
            display: block;
            background: url("../../Assets/Img/calendar.svg") no-repeat;
            width: 20px;
            height: 20px;
            border-width: thin;
          }

          .input-bottom-error {
            font-family: "Rubik";
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #e74c3c;
            margin: 5px 0 0px 0;
          }
        }
      }
    }
  }
}

.modal-avatar-select {
  .modal-content {
    min-width: 606px;
    background: #ffffff;
    box-shadow: 3px 3px 17px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 22px 25px 40px 48px;

    .modal-avatar-lost-contend {
      .close-icon-wrapper {
        img {
          height: 15px;
          width: 15px;
        }
      }

      .avatar-list {
        margin-right: 22px;

        .avatar-title {
          margin-bottom: 45px;

          .subtitle {
            font-family: "Rubik";
            font-style: normal;
            font-weight: 500;
            font-size: 22px;
            line-height: 26px;
            text-align: center;
            color: #322e2f;
          }
        }

        .avatar-wrapper {
          .avatar-image {
            margin-bottom: 15px;

            .img-fluid {
              height: 59px;
              width: 59px;
              cursor: pointer;
            }

            .activeBorder {
              border: 1px solid #1a2b51;
              filter: drop-shadow(0px 0px 6px #0f3998);
              border-radius: 50%;
            }
          }
        }

        .avatar-update {
          margin-top: 38px;

          .update {
            background: #1a2b51;
            border-radius: 10px;
            font-family: "Rubik";
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 21px;
            text-align: center;
            color: #ffffff;
            padding: 13px 28px;
            border: none;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .ranking-general-wrapper {
    margin: 0px 0px 60px 0px !important;

    .ranking-general-card {
      background: #ffffff;
      box-shadow: none;
      border-radius: 25px;
      min-width: 550px;
      max-width: 550px;
      padding: 12px 24px 21px 24px;
      height: fit-content;

      .image {
        .image-center {
          .image-upload {
            .custom-file-upload {
              height: 99px;
              width: 99px;
            }

            .custom-file-edit-icon {
              position: absolute;
              top: 66px;
              left: 71px;
              right: 0px;
              bottom: 0px;
            }
          }
        }
      }

      .form-contend-settings {
        .form-title {
          .account-title {
            font-family: "Rubik";
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
            color: #1a2b51;
          }

          .account-save {
            padding: 9px 19px;
            white-space: nowrap;
          }
        }

        .account-form {
          .account-full-name {
            margin-bottom: 15px;

            .label-title {
              font-family: "Rubik";
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
              line-height: 17px;
              color: #898989;
            }

            .input-name-full {
              padding: 15px 20px;
            }
          }
        }
      }
    }
  }

  .modal-avatar-select {
    .modal-content {
      min-width: 406px;
      position: fixed;
      bottom: 0px;
      left: 0px;
      right: 0px;
      border-radius: 20px 20px 0px 0px;

      .modal-avatar-lost-contend {
        .avatar-wrapper {
          .avatar-image {
            img {
              height: 55px;
              width: 55px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .ranking-general-wrapper {
    margin: 0px 0px 0px 0px;

    .ranking-general-card {
      background: #ffffff;
      box-shadow: none;
      border-radius: 25px;
      min-width: 500px;
      max-width: 500px;
      padding: 24px 24px 21px 24px;
      height: fit-content;
    }
  }

  .modal-avatar-select {
    .modal-content {
      .modal-avatar-lost-contend {}
    }
  }
}

@media screen and (max-width: 500px) {
  .ranking-general-wrapper {
    margin: 0px 0px 0px 0px;

    .ranking-general-card {
      background: #ffffff;
      box-shadow: none;
      border-radius: 25px;
      min-width: 460px;
      max-width: 460px;
      padding: 24px 20px 21px 20px;
      height: fit-content;
    }
  }
}

@media screen and (max-width: 430px) {
  .ranking-general-wrapper {
    margin: 0px 0px 0px 0px;

    .ranking-general-card {
      background: #ffffff;
      box-shadow: none;
      border-radius: 25px;
      min-width: 400px;
      max-width: 400px;
      padding: 24px 24px 21px 24px;
      height: fit-content;
    }
  }
}

@media screen and (max-width: 380px) {
  .ranking-general-wrapper {
    margin: 0px 0px 0px 0px;

    .ranking-general-card {
      background: #ffffff;
      box-shadow: none;
      border-radius: 25px;
      min-width: 300px;
      max-width: 300px;
      padding: 12px 12px 12px 12px;
      height: fit-content;

      .image {
        .image-center {
          .image-upload {
            .custom-file-upload {
              height: 99px;
              width: 99px;
            }
          }
        }
      }

      .form-contend-settings {
        .form-title {
          .account-title {
            font-family: "Rubik";
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
            color: #1a2b51;
          }

          .account-save {
            padding: 5px 10px;
            white-space: nowrap;
          }
        }

        .account-form {
          .account-full-name {
            margin-bottom: 15px;

            .label-title {
              font-family: "Rubik";
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
              line-height: 17px;
              color: #898989;
            }

            .input-name-full {
              padding: 10px 20px;
            }
          }
        }
      }
    }
  }

  .modal-avatar-select {
    .modal-content {
      min-width: 306px;
      position: fixed;
      bottom: 0px;
      left: 0px;
      right: 0px;
      border-radius: 10px 10px 0px 0px;

      .modal-avatar-lost-contend {
        .avatar-wrapper {
          .avatar-image {
            img {
              height: 60px;
              width: 60px;
            }
          }
        }
      }
    }
  }
}