.box-input-questions {
  color: #fff;
  display: inline-block;
  border-radius: 8px;
  outline: none;
  background-color: #1a2b51;
  white-space: nowrap;
  cursor: pointer;
  font-size: 14px;
  width: max-content;
  margin-right: 15px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  padding: 9px 0px 9px 15px !important;

}

.upload {
  margin-left: 25px;
}

.custom-file-input-questions {
  color: transparent;
}

.custom-file-input-questions::-webkit-file-upload-button {
  visibility: hidden;
}

.custom-file-input-questions::before {
  content: "Upload";
  color: #fff;
  display: inline-block;
  border: none;
  border-radius: 8px;
  outline: none;
  -moz-background-color: #1a2b51 !important;
  -khtml-background-color: #1a2b51 !important;
  -ms-background-color: #1a2b51 !important;
  background-color: #1a2b51;
  white-space: nowrap;
  cursor: pointer;
  font-size: 14px;
  width: max-content;
  font-weight: 500;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.custom-file-input-questions {
  width: 90px !important;
}

.custom-file-input-questions:hover::before {
  border-color: black;
}

.custom-file-input-questions:active {
  outline: 0;
}

.custom-file-input-questions:active::before {
  /* background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9); */
  background-color: #1a2b51;
}
.description_title {
  max-width: 700px;
}
@media screen and (max-width: 1477px) {
  .description_title {
    max-width: 600px;
  }
}
@media screen and (max-width: 1377px) {
  .description_title {
    max-width: 500px;
  }
}
