.landing-page {
  .landing-banner {
    background-image: url("../../Assets/Img/bg-home.svg");
    background-repeat: no-repeat;
    min-height: 809px;
    width: 100%;

    h1 {
      font-family: "Rubik";
      font-style: normal;
      font-weight: 500;
      font-size: 50px;
      line-height: 59px;
      color: #ffffff;
      margin-bottom: 30px;
    }

    p {
      font-family: "Rubik";
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;
      color: #ffffff;
      margin-bottom: 50px;
    }

    .sign-up {
     

      background: #cfcb00;
      box-shadow: inset 0px 0px 7px #c4c100, inset 5px 5px 7px #e7e20c;
      border-radius: 12px;
      font-family: "Rubik";
      font-style: normal;
      font-weight: 600;
      font-size: 32px;
      line-height: 38px;
      color: #ffffff;
      padding: 12px 22px;
      outline: none;
      border: none;
      margin-right: 20px;
    }

    .sign-out {
      background: #44546a;
      box-shadow: inset 0px 0px 7px #44546a, inset 5px 5px 7px #5d7089;
      border-radius: 12px;
      font-family: "Rubik";
      font-style: normal;
      font-weight: 600;
      font-size: 32px;
      line-height: 38px;
      color: #ffffff;
      padding: 12px 22px;
      outline: none;
      border: none;
    }

    .full-height {
      min-height: 809px;
    }
  }

  .landing-container {
    // padding: 0 250px;

    .pay-success {
      padding-top: 110px;
      background: #ffffff;

      .title {
        font-family: "Rubik";
        font-style: normal;
        font-weight: 500;
        font-size: 50px;
        line-height: 59px;
        text-align: center;
        color: #322e2f;
        position: relative;
        margin-bottom: 70px;
      }

      ::after {
        content: url(../../Assets/Img/border-top.svg);
        position: absolute;
        left: 50%;
        top: -55px;
        transform: translate(-50%, 0px);
      }

      .pay-card {
        border-radius: 12px;
        padding: 21px;
        text-align: center;
        height: 100%;

        img {
          margin-bottom: 15px;
        }

        h6 {
          font-family: "Rubik";
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 24px;
          margin-bottom: 10px;
        }

        p {
          font-family: "Rubik";
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 19px;
          color: #a5a5a5;
          margin-bottom: 0px;
        }
      }
    }

    .accounts-every-need {
      padding-top: 110px;
      background: #ffffff;

      .title {
        font-family: "Rubik";
        font-style: normal;
        font-weight: 500;
        font-size: 50px;
        line-height: 59px;
        text-align: center;
        color: #322e2f;
        position: relative;
        margin-bottom: 70px;
      }

      ::after {
        content: url(../../Assets/Img/border-top.svg);
        position: absolute;
        left: 50%;
        top: -55px;
        transform: translate(-50%, 0px);
      }

      .accounts-card {
        background: #ffffff;
        box-shadow: 2px 2px 18px rgba(0, 0, 0, 0.15);
        border-radius: 22px;
        margin-bottom: 36px;

        h6 {
          font-family: "Rubik";
          font-style: normal;
          font-weight: 500;
          font-size: 40px;
          line-height: 47px;
          color: #322e2f;
          margin-bottom: 15px;
        }

        p {
          font-family: "Rubik";
          font-style: normal;
          font-weight: 400;
          font-size: 22px;
          line-height: 26px;
          color: #a5a5a5;
          margin-bottom: 0px;
        }
      }

      .accounts-card:last-child {
        margin-bottom: 110px;
      }
    }
  }

  .landing-footer {
    border-top: 1px solid #322e2f;
    padding: 40px 0px;
    margin: 0 200px;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      font-family: "Rubik";
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 18px;
      color: #a5a5a5;
      margin: 0px;
    }

    img {
      height: 14px;
      width: 14px;
    }
  }
}

@media (max-width: 1320px) {
  .landing-page {
    .landing-banner {
      // padding: 0 190px;
    }

    .landing-container {
      // padding: 0 190px;
    }

    .landing-footer {
      margin: 0 140px;
    }
  }
}

@media (max-width: 1140px) {
  .landing-page {
    .landing-banner {
      // padding: 0 140px;
    }

    .landing-container {
      // padding: 0 140px;
    }

    .landing-footer {
      margin: 0 100px;
    }
  }
}

@media (max-width: 960px) {
  .landing-page {
    .landing-banner {
      // padding: 0 120px;
    }

    .landing-container {
      // padding: 0 120px;
    }

    .landing-footer {
      margin: 0 80px;
    }
  }
}

@media screen and (max-width: 992px) {
  .landing-page {
    .landing-banner {
      .container {
        .heading {
          margin-top: 150px;
        }
      }
    }
  }

  .flex-change {
    flex-direction: column-reverse;
  }
}

@media (max-width: 720px) {
  .collpased-box {
    margin-top: 40px;
  }

  .landing-page {
    text-align: center;

    .landing-banner {
      // padding: 0 100px;
    }

    .landing-container {
      // padding: 0 100px;
    }

    .landing-footer {
      margin: 0 80px;
    }

    h1 {
      margin-top: 120px;
      font-weight: 500;
      font-size: 27px;
      line-height: 32px;
      text-align: center;
    }
  }
}

@media (max-width: 540px) {
  .landing-page {
    .landing-banner {
      // padding: 0 40px;
      width: 100%;

      h1 {
        margin-top: 100px;
        font-weight: 500;
        font-size: 27px;
        line-height: 32px;
        text-align: center;
      }

      p {
        font-family: "Rubik";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
      }
    }

    .landing-page {
      .landing-banner {
        .sign-up {
          width: 76px;
          height: 37px;
        }
      }
    }

    .landing-container {
      // padding: 0 40px;

      .pay-success {
        padding-top: 90px;

        .title {
          margin-bottom: 30px;
          font-family: "Rubik";
          font-style: normal;
          font-weight: 500;
          font-size: 22px;
          line-height: 26px;
          /* identical to box height */
          text-align: center;
          color: #322e2f;
        }
      }

      .accounts-every-need {
        padding-top: 90px;

        .title {
          margin-bottom: 30px;
        }

        .accounts-card:last-child {
          margin-bottom: 90px;
        }
      }
    }

    .landing-footer {
      padding: 40px 0px;
      margin: 0 30px;
    }
  }
}

@media screen and (max-width: 768px) {
  .box-width {
    width: 90%;
  }

  .accounts-card {
    width: 90%;
    margin: 15px auto !important;
    font-family: "Rubik";
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
  }
  .landing-page {
    .landing-container {
      .accounts-every-need {
        .accounts-card {
          .order_2{
            order: calc(2);
          }
          .order_1{
            order: calc(1);
          }
        }
      }
    }
  }
}