.avatar-card-wrapper {
  display: flex;
}
.avatar-image-wrapper {
  display: flex;
  width: fit-content;
}

.avatar-image {
  cursor: pointer;
  border-radius: 50%;
  width: 65px;
  height: 65px;
  margin-right: 8px;
}
.active-border {
  border: 1px solid #1a2b51;
  filter: drop-shadow(0px 0px 6px #0f3998);
  border-radius: 50%;
}

.avatar-name-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.avatar-title {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #898989;
  margin-bottom: 0px;
}

.see-more-title {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #1a2b51;
  margin-bottom: 0px;
  cursor: pointer;
}
.row{
    display: flex;
}
.more-avatar-card-wrapper {
    margin: 0px;
    background: #ffffff;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 15px;
    position: absolute;
    top: 210px;
    z-index: 10;
    left: 60px;
    right: 0px;
    width: 481px;
    bottom: 25px;
}