.sign-up-modal {
  max-width: 607px;
  width: 100%;
  background: #ffffff;
  box-shadow: 3px 3px 17px rgba(0, 0, 0, 0.1);
  border-radius: 18px;
  padding: 30px 42px;
  min-width: 607px;

  .close-icon-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    img {
      cursor: pointer;
    }
  }

  .green-wrapper-email {
    background: #d4edda;
    border-radius: 7px;
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #50885d;
    padding: 20px 57px;
    margin-bottom: 35px;
  }

  .avatar-button {
    margin-bottom: 8px;

    .avatar-title {
      font-family: "Rubik";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: #898989;
      margin-bottom: 0px;
    }

    .see-more-title {
      font-family: "Rubik";
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
      color: #1a2b51;
      margin-bottom: 0px;
      cursor: pointer;
    }
  }

  .avatar-card-wrapper {
    margin-bottom: 33px;

    img {
      cursor: pointer;
      border-radius: 50%;
      min-width: 65px;
      height: 65px;
      margin-bottom: 15px;
    }

    .active-border {
      border: 1px solid #1a2b51;
      filter: drop-shadow(0px 0px 6px #0f3998);
      border-radius: 50%;
    }
  }

  .more-avatar-card-wrapper {
    margin: 0px;
    background: #ffffff;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 15px;
    position: absolute;
    top: 210px;
    z-index: 10;
    left: 0;
    right: 0;

    .avatar-wrapper {
      display: flex;

      h2 {
        text-align: center;
        font-family: "Rubik";
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: #322e2f;
        margin: 0px 0px 35px 0px;
      }

      img {
        height: 18px;
        width: 15px;
        padding-right: 20px;
      }
    }


    .active-border {
      border: 1px solid #1a2b51;
      filter: drop-shadow(0px 0px 6px #0f3998);
      border-radius: 50%;
    }

    img {
      border-radius: 50%;
      min-width: 65px;
      height: 65px;
    }
  }

  .heading {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #322e2f;
    margin-bottom: 70px;
    white-space: nowrap !important;
  }

  *,
  *:focus {
    outline: none;
  }

  .form-item-input {
    position: relative;

    input {
      display: block;
      width: 100%;
      height: 51px;
      border: 1px solid #dadada;
      border-radius: 7px;
      transition: all 0.3s ease;
      padding: 0 22px;
    }

    input:focus {
      border: 1px solid #1a2b51;
      filter: drop-shadow(0px 0px 4px #1a2b51);
    }

    label {
      position: absolute;
      cursor: text;
      z-index: 2;
      top: 50%;
      left: 10px;
      transform: translate(0%, -50%);
      font-family: "Rubik";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: #898989;
      background: #fff;
      padding: 0 5px;
      transition: all 0.3s ease;
    }

    input:focus+label,
    input:valid+label {
      top: 0px;
    }

    input:focus+label {
      font-family: "Rubik";
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 15px;
      color: #1a2b51;
    }

    .eye-icon {
      position: absolute;
      top: 50%;
      right: 22px;
      transform: translate(0%, -50%);
      cursor: pointer;
    }
  }

  .mb-30 {
    margin-bottom: 30px;
  }

  .mb-60 {
    margin-bottom: 60px;
  }

  .input-bottom-error {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #e74c3c;
    margin: 5px 0 20px 0;
  }

  .form-item-checkbox {
    display: block;
    margin-bottom: 30px;

    input {
      padding: 0;
      height: initial;
      width: initial;
      margin-bottom: 0;
      display: none;
      cursor: pointer;
    }

    label {
      position: relative;
      cursor: pointer;
      font-family: "Rubik";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: #a5a5a5;

      span {
        font-weight: 500;
        color: #1a2b51;
        margin: 0;
      }
    }

    label:before {
      content: "";
      -webkit-appearance: none;
      background-color: transparent;
      border: 1px solid #dadada;
      padding: 10px;
      display: inline-block;
      position: relative;
      vertical-align: middle;
      cursor: pointer;
      margin-right: 10px;
      border-radius: 3px;
    }

    input[type="checkbox"]:checked+label::before {
      content: "";
      text-align: center;
      height: 20px;
      width: 20px;
      background-color: #1a2b51;
      font-family: "Montserrat";
      border-radius: 2px;
    }

    input:checked+label:after {
      content: "";
      display: block;
      position: absolute;
      top: 3px;
      left: 9px;
      width: 5px;
      height: 14px;
      border: solid #fff;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }

    button {
      font-family: "Rubik";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: #1a2b51;
      border: none;
      background-color: transparent;
    }
  }

  .sign-up-btn {
    width: 100%;
    padding: 14px 0;
    border: none;
    margin: 30px 0px;
    background: #1a2b51;
    border-radius: 10px;
    font-family: "Rubik";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: #ffffff;
  }

  .sign-up-btn-google {
    border: 1px solid #dadada !important;
    border-radius: 7px !important;
    box-shadow: none !important;
    background-color: transparent;
    width: 100%;
    height: 48px;
    margin-bottom: 200px;
    display: flex;
    justify-content: center;

    img {
      margin-right: 10px;
    }

    span {
      font-family: "Rubik";
      font-style: normal;
      font-weight: 400 !important;
      font-size: 14px;
      line-height: 17px;
      color: #a5a5a5;
    }
  }

  .back-to-login-btn {
    border: none;
    width: 100%;
    background-color: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;

    img {
      margin-right: 8px;
    }

    span {
      font-family: "Rubik";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      text-align: center;
      color: #1a2b51;
    }
  }

  .sign-up-with {
    position: relative;
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #a5a5a5;
    text-align: center;
    margin-bottom: 30px;

    span {
      background: #fff;
      padding: 0 20px;
      position: relative;
      z-index: 5;
    }
  }

  .sign-up-with:before {
    content: "";
    display: block;
    border-top: 1px solid #dadada;
    width: 100%;
    height: 1px;
    position: absolute;
    top: 50%;
    z-index: 1;
  }

  .login-already {
    display: flex;
    justify-content: center;
  }

  .already-account {
    display: flex;
    justify-content: center;

    span {
      font-family: "Rubik";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: #a5a5a5;
      margin-right: 6px;
    }

    p {
      font-family: "Rubik";
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      text-align: center;
      color: #1a2b51;
      margin: 0px;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 768px) {
  .logo-width {
    width: 107.06px;
    height: 41px;
    margin-bottom: 24px;
  }

  .sign-up-modal {
    min-width: 90%;
    background: #ffffff;
    box-shadow: none;

    .avatar-card-wrapper {
      margin-bottom: 33px;

      img {
        cursor: pointer;
        border-radius: 50%;
        min-width: 65px;
        height: 65px;
        margin-bottom: 15px;
      }

      .active-border {
        border: 1px solid #1a2b51;
        filter: drop-shadow(0px 0px 6px #0f3998);
        border-radius: 50%;
      }
    }

    .more-avatar-card-wrapper {
      margin: 0;
      background: #ffffff;
      border-radius: 20px 20px 0px 0px;
      position: fixed;
      top: auto;
      left: 0;
      right: 0;
      bottom: 0;
    }

    .green-wrapper-email {
      padding: 20px;
    }
  }
}

@media screen and (max-width: 767px) {
  .question-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 0px;

    .question-card {
      background: #ffffff;
      box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.08);
      border-radius: 25px;
      min-width: 540px;
      max-width: 540px;
      padding: 24px 25px 12px 25px;
      height: fit-content;
    }
  }

  .close-icon-wrapper {
    // display: none;
  }

  .modal-root {
    margin: 15px 20px 0px 20px;

    .img-fluid {
      width: 27px;
      height: 27px;
    }

    .won-lost-contend-start {
      .wen-lost-title {
        font-family: "Rubik";
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 18px;
        color: #ffb000;
        margin: 0px;
        margin-left: 15px;
      }
    }

    .you-won-button {
      display: flex;
      justify-content: center;
      margin-top: 44px;

      .button-won {
        font-family: "Rubik";
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 21px;
        color: #ffffff;
        border: none;
        background: #5cd149;
        border-radius: 7px;
        padding: 7px 20px;
      }
    }

    .challenge-img-wrapper {
      display: flex;
      align-items: center;
      margin-bottom: 20px;

  

      .user-first-img {
        width: 20%;
        height: 20%;
        max-width: 20%;
      }

      .center-line {
        height: 3px;
        border: 3px solid #cfcb00;
        width: 50%;
      }
    }

    .title-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 44px;

      .user {
        font-family: "Rubik";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        color: #322e2f;
        margin: 0px 20px 0px 0px;
      }

      .user-xp {
        font-family: "Rubik";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        color: #322e2f;
        margin-top: 12px;
      }

      img {
        object-fit: contain;
      }
    }

    .details-wrapper-reward {
      .reward-box {
        background: #FFE0CC;
        border-radius: 50px 5px 5px 50px;

        img {
          width: 36px;
          height: 36px;
        }

        .reward {
          font-family: 'Rubik';
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 17px;
          text-align: center;
          color: #FF6600;
          margin: 0px;
          padding: 0 20px 0 15px;
        }
      }
    }

    .won-option {
      margin-top: 32px;

      .won-opponent {
        background: #cfcb00;
        border-radius: 10px;
        border: none;
        padding: 12px 31px;
        font-family: "Rubik";
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        color: #ffffff;
        white-space: nowrap;
      }

      .won-pay-again {
        background: #44546a;
        border-radius: 10px;
        border: none;
        padding: 12px 49px;
        font-family: "Rubik";
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        color: #ffffff;
        white-space: nowrap;
      }
    }

    .review-button-wrap {
      .review-button {
        background: #ffffff;
        box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        font-family: "Rubik";
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        padding: 12px 17px;
        color: #322e2f;
        margin-top: 30px;
      }
    }
  }

  .questions-root {
    .questions {
      .questions-title {
        font-family: "Rubik";
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 21px;
        color: #322e2f;
      }

      .questions-box {
        .hr-box-questions {
          margin: 10px 0px 15px 0px;
          border: 1px solid #dedede;
        }

        .box-questions-review {
          margin: 0px 15px;

          .box-side-name {
            .image-que {
              width: 67px;
              height: 71px;
            }

            .details-que {
              margin-left: 25px;

              .que-name {
                margin: 0px 0px 5px 0px;
                font-family: "Rubik";
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 19px;
                color: #322e2f;
              }

              .que-subtitle {
                margin: 0px;
                font-family: "Rubik";
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 19px;
                color: #00b050;
              }

              .que-subtitle-calor {
                color: #ec4648;
                margin: 0px;
                font-family: "Rubik";
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 19px;
              }
            }
          }

          .box-side-info {
            .image-box {
              .image-check {
                width: 28px;
                height: 28px;
              }

              .check-pr {
                margin-top: 8px;
                font-family: "Rubik";
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 19px;
                color: #322e2f;
              }
            }

            .image-info {
              height: 15px;
              width: 15px;
              margin: 0px 0px 10px 20px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .question-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 0px;

    .question-card {
      background: #ffffff;
      box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.08);
      border-radius: 25px;
      min-width: 470px;
      max-width: 470px;
      padding: 24px 25px 12px 25px;
      height: fit-content;
    }
  }
}

@media screen and (max-width: 430px) {
  .question-wrapper {
    width: 100% !important;
    margin-top: 0px;
    margin-bottom: 0px;

    .question-card {
      background: #ffffff;
      box-shadow: none;
      min-width: 400px;
      max-width: 400px;
      padding: 12px 20px 12px 20px;

      .question-user-count-wrapper {
        margin-top: 12px;

        .first-img-user {
          height: 35px;
          width: 35px;
        }

        .center-count-wrapper {
          // background-position: 100%, 100%;
          height: 35px;
          width: 35px;
          background-size: contain;

          p {
            font-family: "Rubik";
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 19px;
            color: #1a2b51;
            margin: 5px 3px 0px 0px;
          }
        }

        .connect-user {
          .second-img-user {
            height: 35px;
            width: 35px;
          }
        }
      }

      .result-fill-wrapper {
        margin-bottom: 57px;
      }

      .game-wrapper {
        .game-title {
          font-family: "Rubik";
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 21px;
        }

        .game-img-wrapper {
          margin-bottom: 66px;

          .game-img {
            width: 91px;
            height: 96px;
          }
        }

        .game-btn-wrapper {
          .wrong-ans {
            color: #ffffff;
            background: #ec4648;
          }

          .right-ans {
            color: #ffffff;
            background: #5cd149;
          }

          button {
            min-height: 48px;
          }
        }
      }
    }
  }

  .header-mobile {
    padding: 0px !important;
    margin: 0px !important;
  }
}

@media screen and (max-width: 380px) {
  .question-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 0px;

    .question-card {
      background: #ffffff;
      box-shadow: none;
      border-radius: 25px;
      min-width: 300px;
      max-width: 300px;
      padding: 12px 0px 12px 0px;
      height: fit-content;
    }
  }

  .header-mobile {
    padding: 0px !important;
    margin: 0px !important;
  }
}